/*/////////////////////////////////
//             FONTS             //
/////////////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');





/*////////////////////////////////
//           GENERAL            //
////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior:smooth;
}



::-webkit-scrollbar {
    display: none;
}

/*/////////////////////////////////////
//           LOADING-PAGE            //
/////////////////////////////////////*/

/*.loading-page {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgb(29,31,56) url('gif/image_processing20200421-24270-dykx33.gif') no-repeat center center;
    background-size: 30%;
    z-index: 999999;
}

.loading-page::before {
    transform: translateY(100%);
}

.loading-page::before {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    transition: 2s;
    z-index: 999999;
}

.loading-page::after {
    transform: translateY(100%);
}*/

/*///////////////////////////////////
//           NAVIGATION            //
///////////////////////////////////*/

.top-nav {
    /*background-color: rgba(245, 245, 220, 0.5);*/
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.473);
}

.top-nav .container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin:0 auto;
}

.top-nav .container ul {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-nav .container ul li {
    margin: 0 70px;
    font-size: 1.7em;
    /*background-color: rgba(165, 42, 42, 0.281);*/
}

.top-nav .container ul li a {
    font-family: 'Playfair Display', serif;
    color: white;
}

.top-nav .container ul li a:hover {
    border-bottom: 1px solid white;
}


.top-nav .container ul li a img {
    width: 80px;
}





/*/////////////////////////////////
//           SECTION1            //
/////////////////////////////////*/

.sec1 {
    height : 100vh;
    width: 100%;
    background: url('images/fond.png') ;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size:cover;
}

.sec1 .titre {
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20%;
    top: 25%;
}

.sec1 .titre .luxury {
    font-family: 'Playfair Display', serif;
    letter-spacing: 7px;
    font-size: 15em;
}

.sec1 .titre .lovers {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    margin: -50 auto 0 auto;
    font-size: 6em;
}

.sec1 .titre img {
    position: absolute;
    margin: 0 auto;
    left: 8%;
    top: -10%;
    height: 1200px;
    display: none;
}







/*///////////////////////////////////
//           TRANSITION            //
///////////////////////////////////*/

.transition {
    height: 80px;
    background: rgb(149, 156, 150);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.transition span {
    font-size: 4em;
}








/*/////////////////////////////////
//           SECTION2            //
/////////////////////////////////*/

.sec2 {
    height : 180vh;
    width: 100%;
    background: rgb(208,217,209);
    display: flex;
    flex-direction: column;
}

.sec2 .lanouvellecollection {
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    font-size: 8em;
    color: rgb(255, 255, 255);
}

.sec2 .paradiseroses {
    margin: 0 auto;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
}

.sec2 .paradiseroses h1 {
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
    font-size: 5em;
}

.sec2 .paradiseroses img {
    margin: 0 50;
}

.sec2 .rose1 {
    height: 100;
}

.sec2 .rose2 {
    height: 100;
    transform: rotate(deg);
}

.sec2 .container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

/*///////////////////////pull///////////////////////*/

.sec2 .container .container-img1 {
    background-color: transparent;
    padding: 2px;
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    margin: 0 50 0 50;
}

.sec2 .container .container-img1 .img1 {
    position: absolute;
    left: 12%;
    height: 500;
    margin-top: 50;
    border: 0px solid black;
    cursor: pointer;
    z-index: 0;
    border-radius: 20px;
    box-shadow: -10px 10px 28px 2px rgba(0,0,0,0.30);
}

.sec2 .container .container-img1 .img2 {
    position: absolute;
    left: 12%;
    margin: 0 auto;
    height: 500;
    margin-top: 50;
    border: 0px solid black;
    cursor: pointer;
    z-index: 1;
    border-radius: 20px;
    box-shadow: -10px 10px 28px 2px rgba(0,0,0,0.30);
    transition: 1s;
}

.sec2 .container .container-img1 .img2:hover{
    display: none;
    z-index: 0;
    transform: scale(0);
    transition: 1s;
}

.sec2 .container .container-img1 .text {
    display: flex;
    flex-direction: column;
    background-color: #0000000e;
    border-radius: 50px;
    width: 900px;
    height: 500;
    margin: 50 100 0 auto;
    padding-top: 5px;
}

.sec2 .container .container-img1 h1 {
    color: rgb(0, 0, 0);
    margin: 0 auto;
    font-size: 2em;
    font-family: 'Playfair Display', serif;
}

.sec2 .container .container-img1 h2 {
    color: rgb(0, 0, 0);
    margin: 0 auto ;
    font-size: 1.75em;
    font-family: 'Montserrat', sans-serif;
}

.sec2 .container .container-img1 h3 {
    color: rgb(0, 0, 0);
    margin: 0 auto ;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}

.sec2 .container .container-img1 h4 {
    color: rgb(0, 0, 0);
    margin: 0 auto ;
    font-size: 1.1em;
    font-family: 'Playfair Display', serif;
    text-align:center;
}

/*///////////////////////t-shirt///////////////////////*/

.sec2 .container .container-img2 {
    background-color: transparent;
    padding: 2px;
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: row;
    margin: 0 50 0 50;
}

.sec2 .container .container-img2 .img3 {
    position: absolute;
    left: 62%;
    height: 500;
    margin-top: 50;
    border: 0px solid black;
    cursor: pointer;
    z-index: 0;
    border-radius: 20px;
    box-shadow: 10px 10px 28px 2px rgba(0,0,0,0.30);
}

.sec2 .container .container-img2 .img4 {
    position: absolute;
    left: 62%;
    margin: 0 auto;
    height: 500;
    margin-top: 50;
    border: 0px solid black;
    cursor: pointer;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 10px 10px 28px 2px rgba(0,0,0,0.30);
    transition: 1s;
}

.sec2 .container .container-img2 .img4:hover {
    display: none;
    z-index: 0;
    transform: scale(0);
    transition: 1s;
}

.sec2 .container .container-img2 .text {
    display: flex;
    flex-direction: column;
    background-color: #0000000e;
    border-radius: 50px;
    width: 900px;
    height: 500;
    margin: 50 auto 0 100;
    padding-top: 5px;
}

.sec2 .container .container-img2 h1 {
    color: rgb(0, 0, 0);
    margin: 0 auto;
    font-size: 2em;
    font-family: 'Playfair Display', serif;
}

.sec2 .container .container-img2 h2 {
    color: rgb(0, 0, 0);
    margin: 0 auto;
    font-size: 1.75em;
    font-family: 'Montserrat', sans-serif;
}

.sec2 .container .container-img2 h3 {
    color: rgb(0, 0, 0);
    margin: 0 auto ;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}

.sec2 .container .container-img2 h4 {
    color: rgb(0, 0, 0);
    margin: 0 auto ;
    font-size: 1.1em;
    font-family: 'Playfair Display', serif;
    text-align:center;
}

/**/



/*/////////////////////////////////
//           SECTION3            //
/////////////////////////////////*/

.sec3 {
    height : 70vh;
    width: 100%;
    background-color: rgb(0, 0, 0) ;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 48px 20px rgba(0,0,0,0.85);
}

.sec3 img {
    margin: 50 20 50 20;
}

.sec3 .text {
    display: flex;
    flex-direction: column;
    margin: 50 20 50 20;
}

.sec3 .text h1{
    color: rgb(255, 255, 255);/*rgb(247, 153, 255)*/
    font-family: 'Playfair Display', serif;
}

.sec3 .text h2 {
    color: #5e5e5e;
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
}





/*/////////////////////////////////
//           SECTION4            //
/////////////////////////////////*/

.sec4 {
    box-shadow: 0px 51px 48px -20px rgba(0,0,0,0.85) inset;
    height : 170vh;
    width: 100%;
    background: rgb(208,217,209);
    box-shadow: inset(0px 0px 30px 0px rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
}

.sec4 .rose {
    position: absolute;
    height: 300px;
    left: 38%;
    margin-top: 20px;
    z-index: 5;
    orientation: flip;
}

.sec4 h1 {
    margin: 0px 0px 50px 70px;
    font-family: 'Playfair Display', serif;
    font-size: 8em;
    color: rgb(16, 16, 16);
    z-index: 6;
}

.sec4 .container {
    display: flex;
    flex-direction: row;
    height: 26%;
    width: 90%;
    background-color: rgb(208,217,209);
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 28px 2px rgba(0,0,0,0.30);
    z-index: 7;
}

.sec4 .container .container-img {
    margin: 2% ;
    height: 80%;
    width: 25%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

.sec4 .container .container-img img{
    height: 400px;
}

.sec4 .container .prix{
    position:absolute;
    left: 85%;
    margin-top: 363px;
    font-size: 2.7em;
    font-family: 'Montserrat';
}





/*/////////////////////////////////
//           SECTION5            //
/////////////////////////////////*/

.sec5 {
    height : 80vh;
    width: 100%;
    background-color: rgb(0, 0, 0) ;
    display: flex;
    flex-direction: column;
}

.sec5 h1 {
    color: rgb(208,217,209);
}

.sec5 .container {
    display: flex;
    flex-direction: row;
    height: 92%;
    background-color: transparent;
}

.sec5 .container .text {
    width: 45%;
    margin: 2% 2%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.sec5 .container .text h1{
    font-size: 8em;
    margin: 0px 0px;
    font-family: 'Montserrat', sans-serif;
}

.sec5 .container .liens {
    width: 45%;
    margin: 2% 2%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.sec5 .container .liens h2 {
    color: rgb(208,217,209);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    padding-bottom: 30px;
}

.sec5 .container .liens h2 a{
    color: rgb(208,217,209);
}

.sec5 .container .liens h2 a:hover{
    color: rgb(139, 139, 139);
    border-bottom: 1px solid rgb(208,217,209);
}

.sec5 .facebook-icon {
    height: 100px;
}

.sec5 .instagram-icon {
    height: 70px;
    margin-left: 15px;
    margin-right: 15px;
}

.sec5 .youtube-icon {
    height: 55px;
    margin-left: 15px;
    margin-right: 15px;
}

.sec5 .mail-icon {
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
}

.sec5 .copyright {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
}

.sec5 .copyright h2 {
    color: rgb(208,217,209);
    font-family: 'Montserrat', sans-serif;
}